/*
* rotateXBottom.css
*/

.rotateXBottomIn,
.rotateXBottomOut{
    -webkit-transform-origin:50% 80% 0%;
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    transform-origin:50% 80% 0%;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.rotateXBottomIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.rotateXBottomOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.rotateXBottomIn{-webkit-animation-name:rotateXBottomIn;animation-name:rotateXBottomIn;}

@-webkit-keyframes rotateXBottomIn{
    0%{
        -webkit-transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

@keyframes rotateXBottomIn{
    0%{
        transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
    100%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

.rotateXBottomOut{-webkit-animation-name:rotateXBottomOut;animation-name:rotateXBottomOut;}

@-webkit-keyframes rotateXBottomOut{
    0%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
}

@keyframes rotateXBottomOut{
    0%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
}

/*
* rotateXTop.css
*/

.rotateXTopIn,
.rotateXTopOut{
    -webkit-transform-origin:50% 20% 0%;
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    transform-origin:50% 20% 0%;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.rotateXTopIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.rotateXTopOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.rotateXTopIn{-webkit-animation-name:rotateXTopIn;animation-name:rotateXTopIn;}

@-webkit-keyframes rotateXTopIn{
    0%{
        -webkit-transform:perspective(300px) rotateX(40deg) translate3d(0px,-90%,-30px);
        opacity:.2;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

@keyframes rotateXTopIn{
    0%{
        transform:perspective(300px) rotateX(40deg) translate3d(0px,-90%,-30px);
        opacity:.2;
    }
    100%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

.rotateXTopOut{-webkit-animation-name:rotateXTopOut;animation-name:rotateXTopOut;}

@-webkit-keyframes rotateXTopOut{
    0%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(40deg) translate3d(0px,-90%,-30px);
        opacity:.2;
    }
}

@keyframes rotateXTopOut{
    0%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        transform:perspective(300px) rotateX(40deg) translate3d(0px,-90%,-30px);
        opacity:.2;
    }
}

/*
<<<<<<< HEAD
* scaleRotateSTB.css
*/

.scaleRotateSTBIn,
.scaleRotateSTBOut{
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
=======
* rotateYLeft.css
*/

.rotateYLeftIn,
.rotateYLeftOut{
    -webkit-transform-origin:80% 50% 0%;
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    transform-origin:80% 50% 0%;
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

<<<<<<< HEAD
.scaleRotateSTBIn{
=======
.rotateYLeftIn{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

<<<<<<< HEAD
.scaleRotateSTBOut{
=======
.rotateYLeftOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


<<<<<<< HEAD
.scaleRotateSTBIn{
    -webkit-animation-name:scaleRotateSTBIn;
    animation-name:scaleRotateSTBIn;
}

@-webkit-keyframes scaleRotateSTBIn{
    0%{
        -webkit-transform:scale(0,0) rotate(0deg);

    }
    100%{
        -webkit-transform:scale(1,1) rotate(360deg);
    }
}

@keyframes scaleRotateSTBIn{
    0%{
        transform:scale(0,0) rotate(0deg);
    }
    100%{
        transform:scale(1,1) rotate(360deg);
    }
}

.scaleRotateSTBOut{
    -webkit-animation-name:scaleRotateSTBOut;
    animation-name:scaleRotateSTBOut;
}

@-webkit-keyframes scaleRotateSTBOut{
    0%{
        -webkit-transform:scale(1,1) rotate(0deg);
    }
    100%{
        -webkit-transform:scale(0,0) rotate(360deg);
    }
}

@keyframes scaleRotateSTBOut{
    0%{
        transform:scale(1,1) rotate(0deg);
    }
    100%{
        transform:scale(0,0) rotate(360deg);
=======
.rotateYLeftIn{-webkit-animation-name:rotateYLeftIn;animation-name:rotateYLeftIn;}

@-webkit-keyframes rotateYLeftIn{
    0%{
        -webkit-transform:perspective(300px) rotateY(40deg) translate3d(0px,-90%,-30px);
        opacity:.2;
    }
    100%{
        -webkit-transform:perspective(300px) rotateY(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

@keyframes rotateYLeftIn{
    0%{
        transform:perspective(300px) rotateY(-40deg) translate3d(-90%,0px,-30px);
        opacity:.2;
    }
    100%{
        transform:perspective(300px) rotateY(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

.rotateYLeftOut{-webkit-animation-name:rotateYLeftOut;animation-name:rotateYLeftOut;}

@-webkit-keyframes rotateYLeftOut{
    0%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(40deg) translate3d(0px,-90%,-30px);
        opacity:.2;
    }
}

@keyframes rotateYLeftOut{
    0%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        transform:perspective(300px) rotateY(-40deg) translate3d(-90%,0px,-30px);
        opacity:.2;
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    }
}

/*
<<<<<<< HEAD
* scaleSTB.css
*/

.scaleSTBIn,
.scaleSTBOut{
=======
* scaleRotateSTB.css
*/

.scaleRotateSTBIn,
.scaleRotateSTBOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

<<<<<<< HEAD
.scaleSTBIn{
=======
.scaleRotateSTBIn{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

<<<<<<< HEAD
.scaleSTBOut{
=======
.scaleRotateSTBOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


<<<<<<< HEAD
.scaleSTBIn{
    -webkit-animation-name:scaleSTBIn;
    animation-name:scaleSTBIn;
}

@-webkit-keyframes scaleSTBIn{
    0%{
        -webkit-transform:scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
    }
}

@keyframes scaleSTBIn{
    0%{
        transform:scale(0,0);
    }
    100%{
        transform:scale(1,1);
    }
}

.scaleSTBOut{
    -webkit-animation-name:scaleSTBOut;
    animation-name:scaleSTBOut;
}

@-webkit-keyframes scaleSTBOut{
    0%{
        -webkit-transform:scale(1,1);
    }
    100%{
        -webkit-transform:scale(0,0);
    }
}

@keyframes scaleSTBOut{
    0%{
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
=======
.scaleRotateSTBIn{
    -webkit-animation-name:scaleRotateSTBIn;
    animation-name:scaleRotateSTBIn;
}

@-webkit-keyframes scaleRotateSTBIn{
    0%{
        -webkit-transform:scale(0,0) rotate(0deg);

    }
    100%{
        -webkit-transform:scale(1,1) rotate(360deg);
    }
}

@keyframes scaleRotateSTBIn{
    0%{
        transform:scale(0,0) rotate(0deg);
    }
    100%{
        transform:scale(1,1) rotate(360deg);
    }
}

.scaleRotateSTBOut{
    -webkit-animation-name:scaleRotateSTBOut;
    animation-name:scaleRotateSTBOut;
}

@-webkit-keyframes scaleRotateSTBOut{
    0%{
        -webkit-transform:scale(1,1) rotate(0deg);
    }
    100%{
        -webkit-transform:scale(0,0) rotate(360deg);
    }
}

@keyframes scaleRotateSTBOut{
    0%{
        transform:scale(1,1) rotate(0deg);
    }
    100%{
        transform:scale(0,0) rotate(360deg);
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    }
}

/*
<<<<<<< HEAD
* scaleSTB3D.css
*/

.scaleSTB3DIn,
.scaleSTB3DOut{
=======
* scaleSTB.css
*/

.scaleSTBIn,
.scaleSTBOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

<<<<<<< HEAD
.scaleSTB3DIn{
=======
.scaleSTBIn{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

<<<<<<< HEAD
.scaleSTB3DOut{
=======
.scaleSTBOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


<<<<<<< HEAD
.scaleSTB3DIn{
    -webkit-animation-name:scaleSTB3DIn;
    animation-name:scaleSTB3DIn;
}

@-webkit-keyframes scaleSTB3DIn{
    0%{
        -webkit-transform:scale3d(0.5,1,1)  perspective(300px) rotateX(180deg);
    }
    100%{
        -webkit-transform:scale3d(1,1,1)  perspective(300px) rotateX(0deg);
    }
}

@keyframes scaleSTB3DIn{
=======
.scaleSTBIn{
    -webkit-animation-name:scaleSTBIn;
    animation-name:scaleSTBIn;
}

@-webkit-keyframes scaleSTBIn{
    0%{
        -webkit-transform:scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
    }
}

@keyframes scaleSTBIn{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    0%{
        transform:scale(0,0);
    }
    100%{
        transform:scale(1,1);
    }
}

<<<<<<< HEAD
.scaleSTB3DOut{
    -webkit-animation-name:scaleSTB3DOut;
    animation-name:scaleSTB3DOut;
}

@-webkit-keyframes scaleSTB3DOut{
=======
.scaleSTBOut{
    -webkit-animation-name:scaleSTBOut;
    animation-name:scaleSTBOut;
}

@-webkit-keyframes scaleSTBOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    0%{
        -webkit-transform:scale(1,1);
    }
    100%{
        -webkit-transform:scale(0,0);
    }
}

<<<<<<< HEAD
@keyframes scaleSTB3DOut{
=======
@keyframes scaleSTBOut{
>>>>>>> f8c333f5bdbd2ad1228647fbd99fb872f99981c3
    0%{
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
}
