/*
* rotateXBottom.css
*/

.rotateXBottomIn,
.rotateXBottomOut{
    -webkit-transform-origin:50% 80% 0%;
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    transform-origin:50% 80% 0%;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.rotateXBottomIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.rotateXBottomOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.rotateXBottomIn{-webkit-animation-name:rotateXBottomIn;animation-name:rotateXBottomIn;}

@-webkit-keyframes rotateXBottomIn{
    0%{
        -webkit-transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

@keyframes rotateXBottomIn{
    0%{
        transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
    100%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
}

.rotateXBottomOut{-webkit-animation-name:rotateXBottomOut;animation-name:rotateXBottomOut;}

@-webkit-keyframes rotateXBottomOut{
    0%{
        -webkit-transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        -webkit-transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
}

@keyframes rotateXBottomOut{
    0%{
        transform:perspective(300px) rotateX(0deg) translate3d(0px,0px,0px);
        opacity:1;
    }
    100%{
        transform:perspective(300px) rotateX(-40deg) translate3d(0px,90%,-30px);
        opacity:.2;
    }
}
