/*
* rotateXTop.css
*/

.rotateXTopIn,
.rotateXTopOut{
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.rotateXTopIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.rotateXTopOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.rotateXTopIn{-webkit-animation-name:rotateXTopIn;animation-name:rotateXTopIn}

@-webkit-keyframes rotateXTopIn{
    0%{
        -webkit-transform:translate(0,-30px);
    }
    100%{
        -webkit-transform:translate(0,0);
    }
}

@keyframes rotateXTopIn{
    0%{
        transform:translate(0,-30px);
    }
    100%{
        transform:translate(0,0);
    }
}

.rotateXTopOut{-webkit-animation-name:rotateXTopOut;animation-name:rotateXTopOut}

@-webkit-keyframes rotateXTopOut{
    0%{
        -webkit-transform:translate(0,0);
    }
    100%{
        -webkit-transform:translate(0,-30px);
    }
}

@keyframes rotateXTopOut{
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(0,-30px);
    }
}
