/*
* scale.css
*/

.scaleIn,
.scaleOut{
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.scaleIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.scaleOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.scaleIn{
    -webkit-animation-name:scaleIn;
    animation-name:scaleIn;
}

@-webkit-keyframes scaleIn{
    0%{
        -webkit-transform:scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
    }
}

@keyframes scaleIn{
    0%{
        transform:scale(0,0);
    }
    100%{
        transform:scale(1,1);
    }
}

.scaleOut{
    -webkit-animation-name:scaleOut;
    animation-name:scaleOut;
}

@-webkit-keyframes scaleOut{
    0%{
        -webkit-transform:scale(1,1);
    }
    100%{
        -webkit-transform:scale(0,0);
    }
}

@keyframes scaleOut{
    0%{
        transform:scale(1,1);
    }
    100%{
        transform:scale(0,0);
    }
}
