/*
* scaleRotate.css
*/

.scaleRotateIn,
.scaleRotateOut{
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.scaleRotateIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.scaleRotateOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.scaleRotateIn{
    -webkit-animation-name:scaleRotateIn;
    animation-name:scaleRotateIn;
}

@-webkit-keyframes scaleRotateIn{
    0%{
        -webkit-transform:scale(0,0) rotate(0deg);

    }
    100%{
        -webkit-transform:scale(1,1) rotate(360deg);
    }
}

@keyframes scaleRotateIn{
    0%{
        transform:scale(0,0) rotate(0deg);
    }
    100%{
        transform:scale(1,1) rotate(360deg);
    }
}

.scaleRotateOut{
    -webkit-animation-name:scaleRotateOut;
    animation-name:scaleRotateOut;
}

@-webkit-keyframes scaleRotateOut{
    0%{
        -webkit-transform:scale(1,1) rotate(0deg);
    }
    100%{
        -webkit-transform:scale(0,0) rotate(360deg);
    }
}

@keyframes scaleRotateOut{
    0%{
        transform:scale(1,1) rotate(0deg);
    }
    100%{
        transform:scale(0,0) rotate(360deg);
    }
}
