/*
* scaleRotateY.css
*/

.scaleRotateYIn,
.scaleRotateYOut{
    -webkit-animation-duration:.25s;
    -webkit-animation-iteration-count:1;
    -webkit-animatino-fill-mode:both;
    animation-duration:.25s;
    animation-iteration-count:1;
    animatino-fill-mode:both;
}

.scaleRotateYIn{
    -webkit-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
}

.scaleRotateYOut{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
}


.scaleRotateYIn{
    -webkit-animation-name:scaleRotateYIn;
    animation-name:scaleRotateYIn;
}

@-webkit-keyframes scaleRotateYIn{
    0%{
        -webkit-transform:scale(0,0) translateY(0) rotate(0deg);
        opacity:0;
    }

    50%{

        -webkit-transform:scale(0.5,0.5) translateY(-600px) rotate(360deg);
        opacity:0.5;
    }

    100%{

        -webkit-transform:scale(1,1) translateY(0px) rotate(0deg);
        opacity:1;
    }
}



@keyframes scaleRotateYIn{
    0%{
        transform:scale(0,0) translateY(0) rotate(0deg);
        opacity:0;
    }

    50%{

        transform:scale(0.5,0.5) translateY(-600px) rotate(360deg);
        opacity:0.5;
    }

    100%{

        transform:scale(1,1) translateY(0px) rotate(0deg);
        opacity:1;
    }
}

.scaleRotateYOut{
    -webkit-animation-name:scaleRotateYOut;
    animation-name:scaleRotateYOut;
}

@-webkit-keyframes scaleRotateYOut{
    0%{
        -webkit-transform:scale(1,1) translateY(0) rotate(0deg);
        opacity:1;
    }

    50%{

        -webkit-transform:scale(0.5,0.5) translateY(600px) rotate(360deg);
        opacity:0.5;
    }

    100%{

        -webkit-transform:scale(0,0) translateY(0px) rotate(0deg);
        opacity:0;
    }
}

@keyframes scaleRotateYOut{
    0%{
        transform:scale(1,1) translateY(0) rotate(0deg);
        opacity:1;
    }

    50%{

        transform:scale(0.5,0.5) translateY(600px) rotate(360deg);
        opacity:0.5;
    }

    100%{

        transform:scale(0,0) translateY(0px) rotate(0deg);
        opacity:0;
    }
}
